###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

## Default Linux Host Template ##
define host{
	name                            linux-remote               ; Name of this template
	use                             generic-host            ; Inherit default values
	check_period                    24x7        
	check_interval                  5       
	retry_interval                  1       
	max_check_attempts              10      
	check_command                   check-host-alive
	notification_period             24x7    
	notification_interval           30      
	notification_options            d,r     
	contact_groups                  admins  
	register                        0                       ; DONT REGISTER THIS - ITS A TEMPLATE
}

## Default
define host{
	use                             linux-remote               ; Inherit default values from a template
	host_name                       test		        ; The name we're giving to this server
	alias                           Production Server 1               ; A longer name for the server
	address                         198.211.117.45            ; IP address of Remote Linux host
}

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       test
        service_description             PING
	check_command			check_ping!100.0,20%!500.0,60%
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       test
        service_description             Root Partition
	check_command			check_remote_disk!20%!10%!/
        }



# Define a service to check the number of currently logged in
# users on the remote machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       test
        service_description             Current Users
	check_command			check_remote_users!20!50
        }


# Define a service to check the number of currently running procs
# on the remote machine.  Warning if > 250 processes, critical if
# > 400 users.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       test
        service_description             Total Processes
	check_command			check_remote_procs!250!400!RSZDT
        }



# Define a service to check the load on the remote machine. 

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       test
        service_description             Current Load
	check_command			check_remote_load!5.0,4.0,3.0!10.0,6.0,4.0
        }



# Define a service to check the swap usage the remote machine. 
# Critical if less than 10% of swap is free, warning if less than 20% is free

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       test
        service_description             Swap Usage
	check_command			check_remote_swap!20!10
        }



# Define a service to check SSH on the remote machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       test
        service_description             SSH
	check_command			check_ssh
	notifications_enabled		0
        }



# Define a service to check HTTP on the remote machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       test
        service_description             HTTP
	check_command			check_http
	notifications_enabled		0
        }

